* {
	color: #48d08a;
}

.info-container {
	height: 100%;
	overflow-y: scroll;
}

.desc {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desc-content {
	width: 100%;
	padding-bottom: 30px;
}
